{% extends "admin/base.html" %}

{% block content %}

<main class="app-main">
    
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 m-0">Usuários da Biblioteca</h1>
        <a href="/" class="btn btn-info bi bi-arrow-left"></a>
    </div>


    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category if category != 'message' else 'info' }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="GET" action="{{ url_for('buscar_usuarios') }}" class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control" name="query" placeholder="Buscar por nome" value="{{ request.args.get('query', '') }}">
            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i> Buscar</button>
            
            {% if request.args.get('query') %}
                <a href="{{ url_for('buscar_usuarios') }}" class="btn btn-outline-secondary">Limpar Filtro</a>
            {% endif %}
        </div>
    </form>

    <div class="d-flex justify-content-between align-items-center mb-3">

        <a href="/cadastro" class="btn btn-primary bi bi-plus">Adicionar Usuário</a>
    </div>

    <div class="table-responsive shadow-sm rounded">
      <table class="table table-bordered align-middle mb-0">
        <thead>
          <tr>
            <th class="text-center" style="width: 50px;">ID</th>
            <th>Nome</th>
            <th class="text-center">Perfil</th>
            <th class="text-center" style="width: 120px;">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
            <tr>
              <td class="text-center fw-bold text-muted">{{ loop.index }}</td>
              <td class="fw-bold">{{ usuario.nome }}</td>
              {% if usuario.perfil == 'admin' %}
                <td><span class="badge bg-success">{{ usuario.perfil }}</span></td>
              {% else %}
                <td><span class="badge bg-secondary">{{ usuario.perfil }}</span></td>
              {% endif %}
              <td class="text-center">

              {% if usuario.perfil != 'usuario' %}
                 <form action="/usuarios/rebaixar/{{ usuario.id }}" method="POST" class="d-inline" onsubmit="return confirm('Realmente deseja rebaixar esse usuário?')">
                  <button type="submit" class="btn btn-warning btn-sm"><i class="bi bi-arrow-down"></i></button>
                </form>     
              
              {% else %}

                <form action="/usuarios/promover/{{ usuario.id }}" method="POST" class="d-inline" onsubmit="return confirm('Realmente deseja promover esse usuário?')">
                  <button type="submit" class="btn btn-warning btn-sm"><i class="bi bi-arrow-up"></i></button>
                </form>
              {% endif %}
                
                <form action="/usuarios/deletar/{{ usuario.id }}" method="POST" class="d-inline" onsubmit="return confirm('Realmente deseja excluir esse usuário?')">
                  <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                </form>
              </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="6" class="text-center py-4 text-muted">
                Nenhum usuário encontrado.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</main>

{% endblock %}